{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Mobile Menu Area  -->
<div class="popup-mobilemenu-area">
    <div class="inner">
        <div class="mobile-menu-top">
            <div class="logo">
                <a href="">
                    <img class="dark-logo" src="{% static 'assets/images/logo/logo-black.png' %}" alt="Logo Images" />
                    <img class="light-logo" src="{% static 'assets/images/logo/logo-white2.png' %}" alt="Logo Images" />
                </a>
            </div>
            <div class="mobile-close">
                <div class="icon">
                    <i class="fal fa-times"></i>
                </div>
            </div>
        </div>
        <ul class="mainmenu">
            <li class="menu-item-has-children">
                <a href="#">Home</a>
            </li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="buy-now-btn">
            <a href="#">Buy Now <span class="badge">$15</span></a>
        </div>
    </div>
</div>
<!-- End Mobile Menu Area  -->

<!-- Start Banner Area -->
<h1 class="d-none">Home Life Style Blog</h1>
<div class="slider-area bg-color-grey ptb--80">
    <div class="axil-slide slider-style-2 plr--135 plr_lg--30 plr_md--30 plr_sm--30">
        <div class="row row--10">
            <div class="col-lg-6 col-xl-6 col-md-12 col-12">
                <!-- Start Post Grid  -->
                <div class="content-block banner post-grid post-grid-transparent post-overlay-bottom">
                    <div class="post-thumbnail">
                        <a href="{% url 'blog_details' last_post.pk %}">
                            <img src="{{ last_post.image.url }}" alt="Post Images" />
                        </a>
                    </div>
                    <div class="post-grid-content">
                        <div class="post-content">
                            <div class="post-cat">
                                <div class="post-cat-list">
                                    <a class="hover-flip-item-wrapper" href="{% url 'blog_details' last_post.pk %}">
                                        <span class="hover-flip-item">
                                            {{ last_post.category }}
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <h3 class="title"><a href="{% url 'blog_details' last_post.pk %}">{{ last_post.title }}.</a></h3>
                        </div>
                    </div>
                </div>
                <!-- Start Post Grid  -->
            </div>
            <div class="col-lg-6 col-xl-6 col-md-12 col-12 mt_lg--20 mt_md--20 mt_sm--20">
                <div class="row row--10">
                    {% for post in first_four %}
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt-2">
                        <!-- Start Post Grid  -->
                        <div class="content-block banner-right post-grid post-grid-transparent post-grid-small post-overlay-bottom">
                            <div class="post-thumbnail">
                                <a href="{% url 'blog_details' post.pk %}">
                                    <img src="{{ post.image.url }}" alt="Post Images" />
                                </a>
                            </div>
                            <div class="post-grid-content">
                                <div class="post-content">
                                    <div class="post-cat">
                                        <div class="post-cat-list">
                                            <a class="hover-flip-item-wrapper" href="#">
                                                <span class="hover-flip-item">
                                                    {{ post.category }} ({{ post.total_view }})
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <h5 class="title"><a href="{% url 'blog_details' post.pk %}">{{ post.title }} </a></h5>
                                </div>
                            </div>
                        </div>
                        <!-- Start Post Grid  -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->

<!-- Start Tab Area  -->
<div class="axil-tab-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="title">Hot Blog</h2>
                </div>
            </div>
        </div>
        <div class="row mt--20 align-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="see-all-topics text-left text-md-right mt_sm--20">
                    <a class="axil-link-button" href="#">See All Topics</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for obj in hot_blog %}
            <div class="col-lg-6">
                <div class="tab-content" id="axilTabContent">
                    <div class="single-tab-content tab-pane fade show active" id="tabone" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row">
                            <div class="content-block post-medium post-medium-border border-thin">
                                <div class="post-thumbnail">
                                    <a href="{% url 'blog_details' obj.pk %}">
                                        <img src="{{ obj.image.url }}" alt="Post Images" />
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="post-cat">
                                        <div class="post-cat-list">
                                            <a class="hover-flip-item-wrapper" href="#">
                                                <span class="hover-flip-item">
                                                    {{ obj.category.name }}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <h4 class="title">
                                        <a href="{% url 'blog_details' obj.pk %}">{{ obj.title }} </a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Tab Area  -->

<!-- Start Post Grid Area  -->
<div class="axil-post-grid-area axil-section-gap bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="title">Most Popular</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <!-- Start Tab Content  -->
                <div class="grid-tab-content tab-content">
                    <!-- Start Single Tab Content  -->
                    <div class="single-post-grid tab-pane fade show active" id="gridone" role="tabpanel">
                        <div class="row">
                            {% for obj in popular_post %}
                            <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                                <!-- Start Post Grid  -->
                                <div class="content-block post-grid mt--30">
                                    <div class="post-thumbnail">
                                        <a href="{% url 'blog_details' obj.pk %}">
                                            <img style="height: 300px;" src="{{ obj.image.url }}" alt="Post Images" />
                                        </a>
                                    </div>
                                    <div class="post-grid-content">
                                        <div class="post-content">
                                            <div class="post-cat">
                                                <div class="post-cat-list">
                                                    <a class="hover-flip-item-wrapper" href="{% url 'blog_details' obj.pk %}">
                                                        <span class="hover-flip-item">
                                                            {{ obj.category.name }}
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <h4 class="title"><a href="{% url 'blog_details' obj.pk %}">iPadOS 14 new designed specifically for iPad</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Post Grid  -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Single Tab Content  -->
                </div>
                <!-- End Tab Content  -->
            </div>
        </div>
    </div>
</div>
<!-- End Post Grid Area  -->

<!-- Start Video Area  -->
<div class="axil-video-post-area axil-section-gap bg-color-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="title">Featured</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="row">
                    <!-- Start Post List  -->
                    {% for obj in featured_blog %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                        <div class="content-block post-default image-rounded mt--30">
                            <div class="post-thumbnail">
                                <a href="{% url 'blog_details' obj.pk %}">
                                    <img style="height: 200px;" src="{{ obj.image.url }}" alt="Post Images" />
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper" href="#">
                                            <span class="hover-flip-item">
                                                {{ obj.category }}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h5 class="title">
                                    {{ obj.title }}
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End Post List  -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Video Area  -->

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area post-listview-visible-color axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            {% for obj in all_post %}
            <div class="col-lg-12 col-xl-12">
                <!-- Start Post List  -->
                <div class="content-block post-list-view is-active mt--30">
                    <div class="post-thumbnail">
                        <a href="{% url 'blog_details' obj.pk %}">
                            <img style="height: 200px;" src="{{ obj.image.url }}" alt="Author Images" />
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-cat">
                            <div class="post-cat-list">
                                <a class="hover-flip-item-wrapper" href="#">
                                    <span class="hover-flip-item">
                                        {{ obj.category.name }}
                                    </span>
                                </a>
                            </div>
                        </div>
                        <h4 class="title"><a href="{% url 'blog_details' obj.pk %}">{{ obj.title }}</a></h4>
                        <div class="post-meta-wrapper">
                            <div class="post-meta">
                                <div class="post-author-avatar border-rounded">
                                    <img src="{% static 'assets/images/post-images/author/author-image-1.png' %}" alt="Author Images" />
                                </div>
                                <div class="content">
                                    <h6 class="post-author-name">
                                        <a class="hover-flip-item-wrapper" href="author.html">
                                            <span class="hover-flip-item">
                                                Mohammad Rayhan
                                            </span>
                                        </a>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>{{ obj.create_at|timesince }}</li>
                                        <li>{{ obj.last_seen|timesince }} ago</li>
                                        <li>3 min read</li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="social-share-transparent justify-content-end">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <!-- End Post List  -->
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->
{% include 'social.html' %}

{% endblock content %}