{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area post-listview-visible-color axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            {% for obj in all_post %}
            <div class="col-lg-12 col-xl-12">
                <!-- Start Post List  -->
                <div class="content-block post-list-view is-active mt--30">
                    <div class="post-thumbnail">
                        <a href="{% url 'blog_details' obj.pk %}">
                            <img style="height: 200px;" src="{{ obj.image.url }}" alt="Author Images" />
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-cat">
                            <div class="post-cat-list">
                                <a class="hover-flip-item-wrapper" href="#">
                                    <span class="hover-flip-item">
                                        {{ obj.category.name }}
                                    </span>
                                </a>
                            </div>
                        </div>
                        <h4 class="title"><a href="{% url 'blog_details' obj.pk %}">{{ obj.title }}</a></h4>
                        <div class="post-meta-wrapper">
                            <div class="post-meta">
                                <div class="post-author-avatar border-rounded">
                                    <img src="{% static 'assets/images/post-images/author/author-image-1.png' %}" alt="Author Images" />
                                </div>
                                <div class="content">
                                    <h6 class="post-author-name">
                                        <a class="hover-flip-item-wrapper" href="author.html">
                                            <span class="hover-flip-item">
                                                Mohammad Rayhan
                                            </span>
                                        </a>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>{{ obj.create_at|timesince }}</li>
                                        <li>{{ obj.last_seen|timesince }} ago</li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="social-share-transparent justify-content-end">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <!-- End Post List  -->
            {% empty %}
            <h3>Data Not Found</h3>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->
{% include 'social.html' %}

{% endblock content %}